.filter__color {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    & div {
        background-color: aqua;
        margin: 10px;
    }
}

.filter__price {
    .filter__price-input_wrapper{
        display: flex;
    }
}