h3{
    font-family: "Nunito";
    font-size: 1.5em;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.filter__menu{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.filter__color {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .filter__color-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        &>div{
            width: 4em;
            height: 2em;
            display: flex;
            border-radius: 10px;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-family: "Nunito";
        }
        &>div:hover{
            cursor: pointer;
        }
        .filter__color-notactive {
            border-bottom: solid black 1px;
            color: black;
            background-color: #fff;
        }
        .filter__color-active{
            color: white;
            background-color: #1976d2;
        }
    }
}

.filter__price {
    .filter__price-input_wrapper{
        display: flex;
        justify-content: flex-start;
        .filter__price-input {
            width: 4em;
            font-family: 'Nunito';
            font-size: 14px;
            background-color: whitesmoke;
            letter-spacing: 1px;
            border: 1px solid lightgray;
            box-shadow: rgb(14 41 68 / 20%) 0px 8px 24px;
        }
    }
}

.filter__size{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .filter__size-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        &>div{
            width: 4em;
            height: 2em;
            display: flex;
            border-radius: 10px;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-family: "Nunito";
        }
        &>div:hover{
            cursor: pointer;
        }
        .filter__size-active{
            color: white;
            background-color: #1976d2;
        }
        .filter__size-notactive{
            border-bottom: solid black 1px;
            color: black;
            background-color: #fff;
        }
    }
}

.filter__buttons {
    margin-top: 2.5em;
    display: flex;
    flex-direction: row;
    button{
        margin: 4px;
        width: 7em;
        height: 2em;
        font-family: "Nunito";
        font-size: 17px;
        &:hover{
            cursor: pointer;
        }
    }
    .setFilters_btn{
        background-color: #2a2a2a;
        color: white;
    }
    .clear_btn{
        background-color: #f9f9f9;
        color: #000000;
    }
}


.MuiSlider-thumb{
    width: 15px !important;
    height: 15px !important;
}

.MuiSlider-root{
    height: 3px !important;
}

@media all and (max-width: 1280px) and (min-width: 1024px){
    .filter__menu{
        width: 20%;
    }
    .MuiBox-root{
        width: 100% !important;
    }
}