.cart__container{
    display: flex;
    flex-direction: column;
    margin: 3em 10em;
    height: 100%;
    .cart__item{
        display: flex;
        flex-direction: row;
        height: 7em;
        align-items: center;
        & > * {
            margin-right: 10px;
        }
        img{
            height: 100%;
        }
    }
}