.cart__container{
    font-family: "Nunito";
    display: flex;
    flex-direction: column;
    margin: 1em 10em;
    height: 100%;
    .cart__item{
        display: flex;
        flex-direction: row;
        height: 10em;
        align-items: center;
        margin-bottom: 2em;
        & > * {
            margin-right: 10px;
        }
        img{
            height: 100%;
        }
        .cart__item-info{
            display: flex;
            flex-direction: column;
            div{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}