.header__wrapper {
    background-color: #2a2a2a;
    height: 10%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 5em; 
    a {
        font-family: 'Nunito';
        font-size: 21px;
        color: white;
        &:hover{
            font-weight: bold;
        }
    }
    .header__user{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 6%;
        justify-content: space-between;
    .header__user-avatar{
            width: 30px;
            height: 30px;
            border: solid 1px;
            border-radius: 50%;
        }
    }
}

.activeLink {
    border-bottom: 1px solid white;
}

@media all and (max-width: 1280px) and (min-width: 1024px){
    .header__wrapper{
        height: 12%;
    }
}