.catalogItem__wrapper{
    position: absolute;
    z-index: 5;
    display: flex;
    flex-direction: row;
    margin: 3em 10em;
    .catalogItem__image{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        img{
            width: 50%;
        }
        .catalogItem__image-wrapper{
            display: flex;
            align-items: center;
        }
    }
}

svg{
    width: 4em;
    height: 4em;
    opacity: 0.5;
}

svg:hover{
    opacity: 1;
    cursor: pointer;
}

.catalogItem__large-image{
    position: absolute;
    z-index: 20;
    left: 25%;
    display: flex;
    align-items: center;
}

.catalogItem__large-image_disabled{
    display: none;
}

.catalogItem__info {
    margin-left: 5em;
    width: 90%;
    display: flex;
    font-family: "Nunito";
    flex-direction: column;
    align-items: center;
    .catalogItem__info-price{
        margin-bottom: 1em;
    }
    .catalogItem__info-title{
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 19px;
        margin-bottom: 1em;
    }
    .catalogItem__info-size{
        margin-bottom: 1em;
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        select{
            width: 60%;
            font-size: 17px;
            text-align: center;
            box-shadow: rgb(0 0 0 / 30%) 0px 3px 10px;
            border: none;
            height: 30px;
        }
    }
    .catalogItem__info-quantity{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;
        .catalogItem__info-quantity_counter{
            display: flex;
            justify-content: space-around;
            border: solid lightgray 1px;
            width: 20%;
            height: 28px;
            font-size: 19px;
            align-items: center;
        }
    }
    .catalogItem__info-addBtn{
        width: 60%;
        height: 40px;
        font-size: 20px;
        letter-spacing: 1px;
        background-color: transparent;
        text-transform: uppercase;
        border: solid black 1px;
        margin-bottom: 3em;
    }
}

