.catalogItem__wrapper{
    display: flex;
    flex-direction: row;
    margin: 2em;
    .catalogItem__image{
        display: flex;
        flex-direction: column;
        justify-content: center;
        img{
            width: 50%;
        }
        .catalogItem__image-wrapper{
            display: flex;
            align-items: center;
        }
        svg{
            width: 4em;
            height: 4em;
            opacity: 0.5;
            &:hover{
                opacity: 1;
                cursor: pointer;
            }
        }
    }
}

.catalogItem__image-wrapper img:hover body{
    opacity: 0.5;
}