.addItem-modal {
  input[type="text"] {
    width: 100%;
    border: none;
    border-bottom: solid #7e7a7a 1px;
    padding-bottom: 3px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    &:focus {
      outline: none;
    }
  }
  .checkbox-wrapper {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    input {
      width: 20px;
      height: 20px;
    }
  }
  button {
    background-color: transparent;
    border: solid black 1px;
    width: 100px;
    height: 30px;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
  }
}
