.catalog__section-product {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 1em 2em;
    position: relative;
    max-width: 18em;
}

.catalog__section-product-info{
    display: flex;
    font-family: "Nunito";
    font-weight: bold;
    letter-spacing: 1px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.catalog__section-product-title{
    text-align: center;
}