.catalog__section-product {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 2em;
    position: relative;
    max-width: 18em;
}

.catalog__section-product-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalog__section-link{
    z-index: 2;
}

.catalog__section-image{
    z-index: 2;
    &:hover{
        z-index: 0;
        opacity: 0.5;
        transition: 1s;
    }
}